@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
.treeAnimation{
  position: absolute;
  animation: bigTree 10s linear;
  animation-delay: 9;
}
@keyframes bigTree {
  0%{
    opacity: 0;
    bottom: -20%;
  }
  100%{
    bottom: 51px;
    opacity: 1;
  }
}
.dragonAnimation{
  position: absolute;
  animation: dragon 15s infinite linear;
  animation-delay: 9;
}
@keyframes dragon {
  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}
